body
{
    background: linear-gradient(180deg, rgb(96, 88, 233) 6%, rgba(50,60,77,1) 7%, rgba(0,212,255,1) 100%);
    height: 100vh;
}
#bars
{
    margin: auto 0;
    margin-top: 1.5rem;
    width:100%;
    height: 82vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#bars div{
    width: 1.2rem;
    background-color: rgb(255, 238, 2);
    margin: 0px 2px;
    text-align: center;
    border-radius: 4px;
    transition: all cubic-bezier(0.77, 0.08, 0.65, 0.83) 200ms;
}
#bars div p{
    color:rgb(0, 54, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.2rem;
}
#title:hover{
    color: rgb(0, 247, 247) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px 2px  black;
    transform: scale(1.2);
    transition: all 0.5s;
}
small
{
    color: rgb(0, 23, 235);
}